#about-me
  height: 100vh
  display: relative

  #site-nav
    position: absolute
    bottom: 50px
    width: 100%
    ul
      padding: 15px 0
      // background-color: red
      list-style: none
      text-align: center
      display: flex
      flex-direction: row
      // align-content: space-between
      justify-content: center

      li
        // display: inline-block
        margin: 0 25px
        a
          font-size: 1.4rem
          text-decoration: none

.card
  display: flex
  flex-flow: nowrap row
  width: 90vw
  margin: 0 auto
  .card-image
    width: 60%
  .card-details
    margin-top: 100px
    width: 50%
    h2
      font-size: 4rem
      margin-bottom: 20px
    p
      line-height: 1.4
      font-size: 1.2rem

    #social-links
      margin-top: 15px
      display: flex
      flex-direction: row
      justify-content: space-around
